<div class="form-group has-feedback">
    <label class="control-label col-sm-3" for="url-default"><%- i18n('link-platform-default') %></label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="url-default" name="url-default" value="<%- value %>" placeholder="<%- i18n('link-platform-placeholder') %>">
    </div>
</div>